*{
    font-family: 'Raleway', sans-serif;
   /* police appliqué à tous les éléments */ 
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
    margin: 0;
    /* Réinitialisation de la marge */
}

html{
    justify-content: center;
    max-width: 1441px;
    margin: auto;
    scroll-behavior: smooth;
}

body{
    margin: 0 3%;
}

/* Couleurs */
.couleur1{
    color: #0065FC;
}

.couleur2{
    color: #DEEBFF;
}

.couleur3{
    /* color: #F2F2F2; */
    color: #cfcdcdb6;
}

/*                                                              Section Header                                                      */
.head-band{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx-logo{
    margin-right: auto;
}

.logo{
    width: 100px;
    margin-left: 20%;
}

.nav-bar{
    margin-left: auto;
    width: auto;
}

.nav-list{
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.elem-list{
    height: 97px;
    display: flex;
    justify-content:space-around;
    width: 22%;
    margin: 0% 20%;
}

.nav-lien{
    text-decoration: none;
    color: black;
    padding: 0% 15%;
    border-top: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lien:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/*                                                              Section Filter                                                      */

/* Titre des filtres */
.filter-title{
    font-size:x-large;
    margin : 0 0 0.5% 0;
}

/* Barre de recherche */
.search-bar{
    width: fit-content;
    margin-top: 1.2%;
    display: flex;
    align-items: center;
}

.search-icon{
    background-color: #F2F2F2;
    border-radius: 30% 0 0 30%;
    padding: 7% 7%;
}

.search-area{
    padding: 6% 4%;
    border: 0;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

.search-btn{
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 6.2%;
    border: 0;
    font-weight: bold;
}

#search-btn-icon{
    display: none;
}

.search-btn:hover{
    cursor: pointer;
}

.search-btn:active{
    background-color:blue;
}

/* Filtres */
.filter-box{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    font-weight: bold;
    align-items: center;
}

.filter-item-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.space-around{
    margin: 0 0.8%;
    
}

.filter-item{
    margin: 10px 15px;
    display: flex;
    border: 2px solid #cfcdcdb6;
    border-radius: 28px;
    align-items: center;
}

.filter-item:hover{
    cursor: pointer;
    border: 2px solid white;
    background-color: #F2F2F2;
    color: #0065FC;
}

.filter-item:hover .filter-item-icon{
    background-color: #0065FC;
    color: #DEEBFF;
}

.filter-item-icon{
    padding: 15px;
    margin: -2px 1px -2px -2px;
    background-color: #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
}

#filter-item-icon-f{
    padding: 23px 16.5px;
}

.filter-item-txt{
    padding: 0 20px 0 15px;
}

/* Info */
.info-box{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.info-icon{
    color:#0065FC;
    padding: 10px;
    border-radius: 45%;
    border: 2px solid #F2F2F2;
}

/*                                                                Main                                                                    */
.main-1st{
    display: flex;
    flex-direction: row;
}

.section-title{
    font-size: 140%;
}

/*                                                  Section Hébergements à Marseille                                                */
.hbg-section{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2.5% 0% 2% 2.5%;
    margin: 1.3% 2% 0 0;
    width: 70%;
    height: fit-content;
}

.hbg-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.card-box{
    margin: 3% 3% 2% 0 ;
    border-radius: 15px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.card-box:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}

.card-link{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
}

.card-box-img{
    height: 60%;
    margin: 5px;
    border-radius: 10px 10px 0 0;
    max-height: 112px;
}

.card-img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card-box-legend{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 6%;
}

.card-title{
    font-size: medium;
    margin: 3% 0;
}

.price{
    font-weight: bold;
}

.stars-box-hbg{
    margin: 3% 0;
    font-size: small;
}

.link{
    text-decoration: none;
    color: black;
}

.link-text{
    margin-top: 10px;
    font-weight: bold;
}

/*                                                   Section Les Plus Populaires                                                   */
.lpp-aside{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2.5% 2.5% 0 2.5%;
    margin: 1.3% 0 0 0;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.lpp-title-box{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 95%;
    margin-bottom: 5%;
}

.lpp-box{
    display: flex;
    flex-wrap: wrap;
}

.aside-card-box{
    margin: 4% 0%;
    border-radius: 15px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: fit-content;
}

.aside-card-box:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}

.aside-card{
    display: flex;
    max-height: 145px;
}

.aside-card-img{
    width: 40%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    margin: 3px;
}

.aside-card-legend{
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 130px;
}

.stars-box{
    margin-bottom: 5px;
    font-size: small;
}

/*                                                  Section Activités à Marseille                                                */
.main-2nd{
    margin: 4% 0;
}

.act-section{
    display: flex;
    margin-top: 2%;
    height: 480px;
    margin-right: -3%;
}

.act-card-title{
    height: 40px;
    margin: 15px 0 0 15px;
    font-size: 100%;
}

.b-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 22%;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
}

.b-card-img{
    height: 95%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.act-panel{
    width: 22%;
    height: auto;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.m-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 50%;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
}

.m-card-img{
    height:80%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.s-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 40%;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
}

.s-card-img{
    height: 80%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.b-card:hover, .m-card:hover, .s-card:hover{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}

/*                                                                 Footer                                                      */

footer{
    background-color: #F2F2F2;
    height: 210px;
    margin: 0 -3%;
    display: flex;
}

.footer-box{
    width: 29%;
    margin: 3% 0 0 3%;
}

.footer-title{
    font-size: 120%;
}

.footer-list{
    list-style: none;
    padding: 0;
    font-size: large;
    margin: 5% 0;
}

.footer-list-item{
    margin-bottom: 2.3%;
}

/*                                                       Modification affichage mobile                                                   */
@media screen and (max-width: 767px){

    body{
        margin: 0;
    }
 /*                                                                 Header                                                      */   
    .bx-logo{
        margin: auto;
        width: auto;
    }

    .logo{
        width: 45%;
        margin-top: 8%;
        margin-left: 35%;  
        margin-bottom: 3%;
    }

    .head-band{
        flex-direction: column;
    }

    .nav-bar{
        margin: 0;
        padding: 0%;
        width: 100%;
        
    }

    .nav-list{
        width: 100%;
    }

    .elem-list{
        margin: auto;
        height: auto;
        width: 100%;
    }

    .nav-lien{
        width: 100%;
        padding: 7% 0%;
        border-bottom: 3px solid #F2F2F2;
        color: black;
    }

    .nav-lien:active{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .nav-lien:hover{
        border-top: 3px solid transparent;
    }

/*                                                              Section Filtres                                                      */
    
/* Titre des filtres */
    .filter-title-box{
        margin: 30px 20px;
    }

    .filter-title{
        font-size: 130%;
        margin-bottom: 10px;
    }

/* Barre de recherche */
    .search-bar{
        margin: 4% 6.5%;
    }

    .search-area{
        padding: 5.8% 6%;
    }

    .search-btn{
        border-radius: 14px;
        margin-left: -15px;
        padding: 17px;
    }

    .search-btn-txt{
        display: none;
    }

    #search-btn-icon{
        display: block;
    }

/* Filtres */
    .space-around{
        margin: 18px 10px 0;
    }

    .filter-box{
        margin: 0 10px;
    }

    .filter-item-box{
        margin-top: 10px;
    }

    .filter-item{
        margin: 6px 5px;
    }

    .filter-item-txt{
        padding: 0 15px 0 10px;
        font-size: 95%;
    }

/* Info */
    .info-box{
        font-size: 95%;
        margin: 0 15px;
    }

/*                                                                          Main                                                                      */

/*                                                              Section Les Plus Populaires                                                      */

    .main-1st{
        flex-direction: column-reverse;
    }

    .lpp-aside{
        border-radius: 0;
        width: 100%;
        margin: 8% 0;
        padding: 10% 5%;
    }

    .lpp-title-box{
        margin-bottom: 4%;
    }

    .lpp-box{
        margin-top: 2%;
    }

    .aside-card-box{
        margin: 3% 0 0 0;
        height: fit-content;
    }

    .aside-card{
        max-height: 142px;
    }

    .card-title{
        margin: 0;
    }

    .aside-card-img{
        margin: 4px;
        height: 135px;
        max-width: 122px;
    }

    .aside-card-legend{
        margin-left: 4%;
        font-size: medium;
    }

    .p-margin{
        margin-top: 2%;
        font-size: 90%;
    }

    .stars-box{
        font-size: 70%;
        margin-bottom: 5%;
    }

/*                                                           Section Hébergements à Marseille                                                     */

    .hbg-section{
        background-color: white;
        border-radius: 0;
        width: 100%;
        padding: 0 5%;
        margin: 2% 0;
    }

    .section-title{
        margin-right: 10%;
        font-size: 140%;
    }

    .hbg-box{
        margin: 3% 0 7% 0;
    }

    .card-link{
        height: fit-content;
    }

    .card-box{
        max-width: 100%;
        max-height: fit-content;
        margin: 2% 0;
    }

    .card-box-img{
        max-height: 120px;
    }

    .card-img{
        object-fit: cover;
    }

    .stars-box-hbg{
        font-size: 70%;
        padding: 0;
        margin: 2% 0;
    }

    .link-text{
        font-size:large;
    }


/*                                                          Section Activités à Marseille                                              */
    .main-2nd{
        margin: 12% 5%;
    }

    .act-section{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        font-weight:bolder;
        margin-top: 8%;
    }

    .act-card-title{
        height: 20%;
        margin: 15px 0 0 15px;
    }

    .b-card{
        width: auto;
        height: 190px;
    }

    .b-card-img{
        height: 72%;
    }

    .act-panel{
        width: 100%;
        margin: 3.5% 0;
        height: fit-content;
    }

    .m-card{
        height: 190px;
        margin: 3.5% 0;
    }

    .m-card-img{
        height: 72%;
    }

    .s-card{
        height: 190px;
        margin: 3.5% 0;
    }

    .s-card-img{
        height: 72%;
    }


/*                                                                 Footer                                                      */
    footer{
        flex-direction: column;
        height: fit-content;
        padding-top: 12%;
        padding-bottom: 2%;
        margin: -6% 0 0 0;
    }

    .footer-box{
        width: fit-content;
        margin:0 10% 8% 8%;

    }

    .footer-title{
        font-size: larger;
        margin-bottom: 20px;
    }

    .footer-list-item{
        font-size: medium;
        margin: 0 0 12px 0;
    }
}

/*                                                       Modification affichage tablette                                                  */
@media screen and (min-width: 768px) and (max-width: 991px){

/*                                                                      Main                                                            */
    main{
        margin: 0 -3%;
    }

/*                                                          Section Les Plus Populaires                                                */
    .main-1st{
        flex-direction: column-reverse;
    }

    .lpp-aside{
        width: 100%;
        margin-top: 3%;
        padding: 1.5%;
        border-radius: 0;
    }

    .lpp-title-box{
        margin-bottom: 1%;
    }

    .lpp-box{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .aside-card-box{
        width: auto;
        margin: 2% 1%;
    }

/*                                                         Section Hébergements à Marseille                                            */
    .hbg-section{
        background-color: white;
        width: 100%;
    }

/*                                                          Section Activités à Marseille                                              */
    .main-2nd{
        margin: 1% 0;
        padding: 2% 2.5%;
    }

    .act-section{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .b-card{
        width: auto;
        height: 250px;
    }

    .b-card-img{
        height: 200px;
    }

    .act-panel{
        width: 100%;
        margin:1% 0;
    }

    .m-card{
        height: 250px;
        margin: 1% 0;
    }

    .s-card{
        height: 250px;
        margin: 1% 0;
    }

/*                                                                 Footer                                                      */

    .footer-box{
        width: 33%;
        font-size: medium;
    }

    .footer-title{
        margin-bottom: 8%;
    }

    .footer-list-item{
        margin: 5% 0;
        font-size: medium;
    }
}